<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
  <body>
          <div>ООО КОМПАНИЯ</div>
          <div>Добро пожаловать</div>
          <div>ККМ 00075164 #3969</div>
          <div>ИНН 1087746942040</div>
          <div>ЭКЛЗ 3851495566</div>
          <div>{{ created_at.day }}.{{ created_at.month }}.{{ created_at.year }} {{ created_at.hour }}: {{ created_at.minute }}</div>
          <div>AДМИ</div>
          {% for item in items%}
          <p>НАИМЕНОВАНИЕ ТОВАРА</p>
          <p>{{ item.title }} = {{ item.price }}</p>
          <br/>
          {% endfor %}
          <div>ИТОГ {{ final_sum }}</div>
          <div>НАЛИЧНЫМИ = {{ final_sum }}</div>
          <div>***********************</div>
          <div> 00003751# 05970</div>
  </body>
</html>